<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.fsmeeting.default</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>name</key>
			<string>weix</string>
			<key>png</key>
			<string>d_weix.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>name</key>
			<string>wosh</string>
			<key>png</key>
			<string>d_wosh.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[强]</string>
			<key>name</key>
			<string>qiang</string>
			<key>png</key>
			<string>d_qiang.png</string>
			<key>lenght</key>
			<string>7</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[举手]</string>
			<key>name</key>
			<string>jus</string>
			<key>png</key>
			<string>d_jus.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>name</key>
			<string>guz</string>
			<key>png</key>
			<string>d_guz.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[花]</string>
			<key>name</key>
			<string>hua</string>
			<key>png</key>
			<string>d_hua.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>name</key>
			<string>ok</string>
			<key>png</key>
			<string>d_ok.png</string>
			<key>lenght</key>
			<string>4</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心动]</string>
			<key>name</key>
			<string>xind</string>
			<key>png</key>
			<string>d_xind.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心碎]</string>
			<key>name</key>
			<string>xins</string>
			<key>png</key>
			<string>d_xins.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[调皮]</string>
			<key>name</key>
			<string>tiaop</string>
			<key>png</key>
			<string>d_tiaop.png</string>
			<key>lenght</key>
			<string>7</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大笑]</string>
			<key>name</key>
			<string>dax</string>
			<key>png</key>
			<string>d_dax.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>name</key>
			<string>yiwen</string>
			<key>png</key>
			<string>d_yiwen.png</string>
			<key>lenght</key>
			<string>7</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[NO]</string>
			<key>name</key>
			<string>no</string>
			<key>png</key>
			<string>d_no.png</string>
			<key>lenght</key>
			<string>4</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>name</key>
			<string>toux</string>
			<key>png</key>
			<string>d_toux.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>name</key>
			<string>se</string>
			<key>png</key>
			<string>d_se.png</string>
			<key>lenght</key>
			<string>4</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>name</key>
			<string>huaix</string>
			<key>png</key>
			<string>d_huaix.png</string>
			<key>lenght</key>
			<string>7</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意]</string>
			<key>name</key>
			<string>dey</string>
			<key>png</key>
			<string>d_dey.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[汗]</string>
			<key>name</key>
			<string>han</string>
			<key>png</key>
			<string>d_han.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哭]</string>
			<key>name</key>
			<string>ku</string>
			<key>png</key>
			<string>d_ku.png</string>
			<key>lenght</key>
			<string>4</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[苦闷]</string>
			<key>name</key>
			<string>kum</string>
			<key>png</key>
			<string>d_kum.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>name</key>
			<string>zaij</string>
			<key>png</key>
			<string>d_zaij.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生气]</string>
			<key>name</key>
			<string>shqi</string>
			<key>png</key>
			<string>d_shqi.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[难过]</string>
			<key>name</key>
			<string>nang</string>
			<key>png</key>
			<string>d_nang.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[无语]</string>
			<key>name</key>
			<string>wuyu</string>
			<key>png</key>
			<string>d_wuyu.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>name</key>
			<string>shuai</string>
			<key>png</key>
			<string>d_shuai.png</string>
			<key>lenght</key>
			<string>7</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发呆]</string>
			<key>name</key>
			<string>fad</string>
			<key>png</key>
			<string>d_fad.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咖啡]</string>
			<key>name</key>
			<string>kaf</string>
			<key>png</key>
			<string>d_kaf.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饭]</string>
			<key>name</key>
			<string>fan</string>
			<key>png</key>
			<string>d_fan.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酒杯]</string>
			<key>name</key>
			<string>jiub</string>
			<key>png</key>
			<string>d_jiub.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>name</key>
			<string>yun</string>
			<key>png</key>
			<string>d_yun.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[淡定]</string>
			<key>name</key>
			<string>dand</string>
			<key>png</key>
			<string>d_dand.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[囧]</string>
			<key>name</key>
			<string>jio</string>
			<key>png</key>
			<string>d_jio.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>name</key>
			<string>biz</string>
			<key>png</key>
			<string>d_biz.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>name</key>
			<string>kul</string>
			<key>png</key>
			<string>d_kul.png</string>
			<key>lenght</key>
			<string>5</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>name</key>
			<string>zhut</string>
			<key>png</key>
			<string>d_zhut.png</string>
			<key>lenght</key>
			<string>6</string>
		</dict>
	</array>
</dict>
</plist>
